.newspaper-subcription {
    background: $black2;
    text-align: center;

    h1 {
        margin: 10px;
        color: $white1;
    }
    p {
        color: $melon;
        margin-bottom: 10px;
    }
}
